var formatMoney = function(money) {
    if (!money) return '0';
    money = money/100;
    money = (+money).toString();
    return money;
}
//保留两位小数
var formatMoney2 = function(money) {
    if (!money) return '0.00';
    money = money/100;
    money = (+money).toFixed(2);
    return money;
}
var strToArry = function(str,type){
  var newtype = type || ','
  return str.split(newtype)
}
var GetTime = function(str, format) {
  var date = getDate(str);
  var Y = date.getFullYear() + '-';
  var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
  var D = date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate();
  var hh = (parseInt(date.getHours()) > 9 ? date.getHours() : '0' + date.getHours()) + ':';
  var mm = (parseInt(date.getMinutes()) > 9 ? date.getMinutes() : "0" + date.getMinutes()) + ':';
  var mmEnd = (parseInt(date.getMinutes()) > 9 ? date.getMinutes() : "0" + date.getMinutes());
  var ss = parseInt(date.getSeconds()) > 9 ? date.getSeconds() : '0' + date.getSeconds();

  if (format) {
    if (format == 'Y-M-D hh:mm:ss') {
      return Y + M + D + " " + hh + mm + ss;
    }
    else if (format == 'Y-M-D hh:mm') {
      return Y + M + D + " " + hh + mmEnd;
    }
    else {
      return Y + M + D
    }
  }
  else {
    return Y + M + D
  }
}



module.exports = {
  formatMoney: formatMoney,
  formatMoney2: formatMoney2,
  strToArry: strToArry,
  GetTime: GetTime,
};