var formatMoney = function(money) {
    if (!money) return '0';
    money = money/100;
    money = (+money).toString();
    return money;
}
//保留两位小数
var formatMoney2 = function(money) {
    if (!money) return '0.00';
    money = money/100;
    money = (+money).toFixed(2);
    return money;
}
var strToArry = function(str,type){
  var newtype = type || ','
  return str.split(newtype)
}
module.exports = {
  formatMoney: formatMoney,
  formatMoney2: formatMoney2,
  strToArry: strToArry
};